@import url('https://fonts.googleapis.com/css2?family=Cuprum&display=swap');

@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/Mark\ Simonson\ -\ Proxima\ Nova\ Condensed\ Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/Mark\ Simonson\ -\ Proxima\ Nova\ Bold.otf");
  font-weight: bold;
  font-style: normal;
}

:root {
  --primary-text-color: #1e2e36;
  --primari-white-color: #ffffff;
  --accent-color: #44C697;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: "Proxima Nova";
  color: var(--primary-text-color);
}

.container {
  padding: 0 51px;
}

.header {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  padding: 18px 51px;
  border-bottom: 1px solid var(--primary-text-color);
}

.contacts {
  display: flex;
}

.contacts__text {
  margin-right: 13px;
}

.social {
  display: flex;
  gap: 30px;
  margin-right: 64px;
}

.phone {
  display: flex;
  gap: 10px;
  text-align: center;
}

.phone__number {
  display: flex;
  align-items: center;
}

.phone__number::after {
  content: "";
  display: inline-block;
  background: url("./images/arrow-down.svg") no-repeat;
  width: 14px;
  height: 8px;
  float: right;
  margin: 0 0 0 10px;
}

.nav {
  display: flex;
  gap: 15px;
  text-transform: uppercase;
}

.header-filter {
  padding: 41px 51px;
}

.header-filter {
  display: flex;
  justify-content: space-between;
}

.filter {
  display: flex;
  gap: 20px;
}

.filter__item {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.filter__item::after {
  content: "";
  display: inline-block;
  background: url("./images/arrow-down.svg") no-repeat;
  width: 14px;
  height: 8px;
  margin: 0 0 0 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__img {
  max-width: 360px;
}

.basket {
  display: flex;
  align-items: center;
  gap: 6px;
  text-transform: uppercase;
}

.callback {
  padding: 14px 46px;
  font-size: 18px;
  line-height: 1.25;
  text-transform: uppercase;
  color: var(--primari-white-color);
  background-color: var(--accent-color);
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.hero {
  min-height: 785px;
  background-image: url(./images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}