@import url('https://fonts.googleapis.com/css2?family=Cuprum&display=swap');

@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/Mark\ Simonson\ -\ Proxima\ Nova\ Condensed\ Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("./fonts/Mark\ Simonson\ -\ Proxima\ Nova\ Bold.otf");
  font-weight: bold;
  font-style: normal;
}

:root {
  --primary-black-color: #1e2e36;
  --primary-white-color: #ffffff;
  --accent-color: #44c697;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 250ms var(--timing-function);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: "Proxima Nova";
  color: var(--primary-black-color);
}

.container {
  max-width: 1800px;
  padding: 0 51px;
  margin: 0 auto;
}

.current {
  fill: var(--accent-color);
}
.current::after {
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--accent-color);
  border-radius: 2px;
  content: "";
}

a:hover {
  color: var(--accent-color);
  transition: color 250ms var(--timing-function);
}

.header {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  padding: 18px 51px;
  border-bottom: 1px solid var(--primary-black-color);
}

.contacts {
  display: flex;
}

.contacts__text {
  margin-right: 13px;
}

.social {
  display: flex;
  gap: 30px;
  margin-right: 64px;
}


.phone {
  display: flex;
  gap: 10px;
  text-align: center;
}

.phone__number {
  display: flex;
  align-items: center;
}

.phone__number::after {
  content: "";
  display: inline-block;
  background: url("./images/arrow-down.svg") no-repeat;
  width: 14px;
  height: 8px;
  margin: 0 0 0 10px;
}

.phone__img {
  margin-right: 10px;
}

.nav {
  display: flex;
  gap: 15px;
  text-transform: uppercase;
}

.header-filter {
  padding: 41px 51px;
}

.header-filter {
  display: flex;
  justify-content: space-between;
}

.filter {
  display: flex;
  gap: 20px;
}

.filter__item {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.after-item::after {
  content: "";
  display: inline-block;
  background: url("./images/arrow-down.svg") no-repeat;
  width: 14px;
  height: 8px;
  margin: 0 0 0 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__img {
  max-width: 360px;
}

.basket {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 6px;
  text-transform: uppercase;
}

.callback {
  padding: 14px 46px;
  font-size: 18px;
  line-height: 1.25;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.hero {
  min-height: 785px;
  background-image: url(./images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 100px;
}

.news-card {
  max-width: 462px;
  height: 670px;
  background-color: var(--primary-white-color);
  border-left: 15px solid var(--accent-color);
  text-align: center;
  padding: 100px 90px 100px 75px;
}

.news-card__baner {
  font-weight: 700;
  font-size: 64px;
  margin-bottom: 50px;
}

.article-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.25;
  margin-bottom: 10px;
}

.article-desc {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.25;
  margin-bottom: 30px;
}

.news-card__btn {
  padding: 14px 46px;
  font-size: 18px;
  line-height: 1.25;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border-radius: 3px;
  border: none;
  cursor: pointer;
  margin-bottom: 50px;
}

.pagination__count {
  margin-bottom: 5px;
}

.pagination__count-current {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.25;
}

.pagination__count-total {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
}

.pagination__count-total::before {
  content: "/ ";
}

.pagination__btns {
  display: flex;
justify-content: center;
}

.arrow-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.arrow-btn img {
  fill: inherit;
}

.pagination__btn-prev {
  background-color: var(--primary-white-color);
  border: 1px solid var(--primary-black-color);
  margin-right: 8px;
}

.pagination__btn-next {
  color: var(--primary-white-color);
  background-color: var(--primary-black-color);
  border: 1px solid var(--primary-black-color);
}

.pagination__btn-next img, .pagination__btn-prev img {
  margin: auto;
}

.advantages {
  margin-bottom: 100px;
}

.section-title {
  position: relative;
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.25;
  margin-bottom: 52px;
}

.first-letter-bg {
  position: absolute;
  top: 5px;
  translate: -5px;
  display: inline-block;
  background-color: var(--accent-color);
  width: 20px;
  height: 50px;
  z-index: -1;
}

.advantages__slider {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.advantages__slide {
  position: relative;
  color: var(--primary-white-color);
}

.advantages__subtitle {
  position: absolute;
  bottom: 34px;
  left: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.25;
  border-bottom: 3px solid var(--accent-color);
  transition: bottom 250ms var(--timing-function);
}

.advantages__text {
  position: absolute;
  left: 30px;
  max-width: 526px;
  font-size: 18px;
  line-height: 1.25;
  transition: bottom 300ms var(--timing-function);
}

.advantages__slide:hover .advantages__text {
  bottom: 30px;
}
.advantages__slide:hover .advantages__subtitle {
  bottom: 94px;
}

.slider-wrapper {
  position: relative;
}

.advantages__btn-prev {
  position: absolute;
  bottom: 50%;
  left: 15px;
  color: var(--primary-white-color);
  background-color: transparent;
  border: 1px solid var(--primary-white-color);
}

.advantages__btn-next {
  position: absolute;
  bottom: 50%;
  right: 15px;
  fill: var(--primary-black-color);
  background-color: var(--primary-white-color);
  border: 1px solid var(--primary-white-color);
}

.categories {
  margin-bottom: 100px;
}

.categories__icons-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 88px;
}

.categories__icon-item {
  cursor: pointer;
}

.categories__icon {
  fill: inherit;
  transition: fill 250ms var(--timing-function);  
}

.categories__icon-item:hover .categories__icon {
  fill: var(--accent-color);
  transition: fill 250ms var(--timing-function);
}

.categories__icon-item span {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  text-transform: uppercase;
  margin-top: 10px;
}

.categories__cards-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 50px;
  column-gap: 30px;
  margin-bottom: 50px;
}

.categories__card {
  max-width: 586px;
}

.categories__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  text-transform: uppercase;
}

.categories__btn {
  display: block;
  padding: 14px 46px;
  font-size: 18px;
  line-height: 1.25;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border-radius: 3px;
  border: none;
  cursor: pointer;
  margin: 0 auto;
}

.about-us {
  min-height: 897px;
  background-image: url(./images/about-us.jpg);
  background-repeat: no-repeat;
  background-position: right;
}

.about-us__continer {
  position: relative;
}

.about-us__content {
  position: absolute;
  top: 100px;
  max-width: 740px;
  max-height: 475px;
  padding: 50px 30px 50px 0 ;
  border-right: 15px solid var(--accent-color);
  background-color: var(--primary-white-color);
}

.about-us__text {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.25;
  letter-spacing: 1.1px;
}

.about-us__first-word {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
  text-transform: uppercase;
}

.questions {
  min-height: 897px;
  background-image: url(./images/questions.jpg);
  background-repeat: no-repeat;
  background-position: left;
}

.questions__container {
  position: relative;
}

.questions__form {
  position: absolute;
  top: 100px;
  right: 0;
  max-width: 528px;
  height: 457px;
  background-color: var(--primary-white-color);
  border-left: 15px solid var(--accent-color);
  text-align: center;
  padding: 50px 0 50px 45px;
}

.form__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.25;
  text-align: start;
  margin-bottom: 30px;
}

#name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.25;
  height: 50px;
  width: 100%;
  margin-bottom: 15px;
  padding: 14px 15px;
}
#phone {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.25;
  height: 50px;
  width: 100%;
  margin-bottom: 15px;
  padding: 14px 15px;
}

.form__btn {
  height: 50px;
  width: 100%;
  padding: 14px 15px;
  font-size: 18px;
  line-height: 1.25;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border-radius: 3px;
  border: none;
  cursor: pointer;
  margin-bottom: 30px;
}

.form__text {
  text-align: start;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.25;
  letter-spacing: 1.1px
}

.form__phone {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
}

.footer {
  height: 520px;
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-black-color);
  color: var(--primary-white-color);
}

.footer__content {
  padding: 50px 50px 15px 51px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
}

.footer__logo {
  margin-bottom: 50px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  margin-bottom: 74px;
}

.footer__filter, .footer__nav, .footer__info {
  display: flex;
  flex-direction: column;
}

.footer__filter {
  gap: 15px;
}

.footer__item {
text-transform: uppercase;
white-space: nowrap;
}

.footer__item::before {
  content: "—";
  margin-right: 6px;
  color: var(--accent-color);
}

.footer__nav {
  gap: 15px;
}

.footer__info {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.25;
}

.location {
  margin-bottom: 16px;
}

.location__link {
  display: flex;
  gap: 8px;
}

.work-time {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.phone {
  margin-bottom: 30px;
}

.phone-footer {
  flex-direction: column;
}

.phone-footer__res {
  padding-left: 34px;
}

.info__text {
  margin-bottom: 18px;
}

.footer__cop {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.20;
}

.footer__cop-link {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}

.footer__img {
  height: 520px;
}